:not(img) {
	width: 80%;
	min-width: 600px;
	margin: 0 auto;
}
header body {
	width: 80%;
	min-width: 600px;
	margin: 0 auto;
}
header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
header {
	background: url('sunset.jpg') no-repeat;
	background-size: 100% 100%;
}
body {
	background: url('ptrbackground.jpg') repeat;
	background-color: #00569f;
	background-position: top;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	
}
nav {
	background-color: #3399CC;
}
nav ul {
	font-size: 1.2em;
	list-style-type: none;
}
nav a {
	text-decoration: none;
}
nav a:visited {
	color: #344873;
}
nav a:hover {
	color: #FFFFFF;
}
h1 {
	margin-bottom: 0;
	padding: 10px;
	color: white;
}
h2 {
	color: #3399CC;
}
h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}
#content {
	list-style-image: url('marker.gif');
	background-color: white;
}
#contact {
	font-size: 90%;
}
dt {
	color: #000033;
}
footer {
	font-family: Georgia, "Times New Roman", serif;
	background-color: white;
}
.resort {
    color: rgb(0, 110, 255);
    font-weight: bold;
}
img {
	size: 150%;
	margin-top: 10px;
	margin-right: 30px;
	margin-left: 10px;
	float: left;
}
p + ul {
	margin: 10px;
}
